<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <script defer src="//unpkg.com/mathlive"></script>
    <link rel="stylesheet" href="https://pyscript.net/snapshots/2023.09.1.RC2/core.css">
    <script type="module" src="https://pyscript.net/snapshots/2023.09.1.RC2/core.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <!--TODO: Find a way to dynamically load the js scripts just for the tasks that need them-->
    <script type='text/javascript' src="{% static 'app/scripts/figure.js' %}"></script>
    <script type='text/javascript' src="{% static 'app/scripts/shapes.js' %}"></script>
    <script type='text/javascript' src="{% static 'app/scripts/missing_number_grid.js' %}"></script>
    
    <!--Style for the Page layout (sidebar etc..)-->
    <link rel="stylesheet" href="{% static 'app/css/layout.css' %}">
    <!--Task related styling-->
    <link rel="stylesheet" href="{% static 'app/css/tasks.css' %}">

    <script>
        function toggleVisibility(element) {
            var nextElement = element.nextElementSibling;
            var arrow = element.querySelector('.arrow');

            if (nextElement.style.display === "none") {
                nextElement.style.display = "block";
                element.classList.add('expanded');
                element.classList.remove('collapsed');
            } else {
                nextElement.style.display = "none";
                element.classList.remove('expanded');
                element.classList.add('collapsed');
            }
        }

        function sendTaskDetails(text) {
            document.getElementById("details").innerText="Task details for tutor: "+text
            fetch('/task_details', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ text: text })
            })
            .then(response => response.json())
            .then(data => console.log(data));
        }
    </script>



</head>
<body>
    <!--Empty pyscript tag. Otherwise py-click at button listeners would trow an error-->
    <py-script>
        print("pyscript initialized")
    </py-script>
    <div class="sidebar">
        <h3>Sidebar</h3>
        <!-- Sidebar items will be added here by the Django view -->
        {% for level, key_ideas in structured_tasks.items %}
            <div class="level">
                <h4 class="expandable" onclick="toggleVisibility(this)">
                    <span class="arrow">▶</span> {{ level }}
                </h4>
                <div class="key-ideas" style="display: none;">
                    {% for key_idea, topics in key_ideas.items %}
                        <div class="key-idea">
                            <h5 class="expandable" onclick="toggleVisibility(this)">
                                <span class="arrow">▶</span> {{ key_idea }}
                            </h5>
                            <div class="topics" style="display: none;">
                                {% for topic, tasks in topics.items %}
                                    <div class="topic">
                                        <h6 class="expandable" onclick="toggleVisibility(this)">
                                            <span class="arrow">▶</span> {{ topic }}
                                        </h6>
                                        <div class="tasks" style="display: none;">
                                            {% for title, filename in tasks %}
                                                <button class="sidebar-item"
                                                    hx-post="{% url 'app:load_task' %}"
                                                    hx-target="#script_content"
                                                    hx-trigger="click"
                                                    hx-vals='{"task_name":"{{filename}}"}'
                                                    hx-include="csrf-token"
                                                >{{ title }}</button>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>


    <div class="content">
        <h3>Content</h3>
        <div>
        <div id="task-container"></div>
        <div id ="script_content"></div>
        <div id = "result"></div>
        <div id = "details" style="margin-top: 10px; margin-bottom: 10px;"></div>
        <button class = "layout_button" py-click="check">Check</button>
        <button class = "layout_button" py-click="refresh">Refresh</button>
    </div>

</body>
</html>
