.choice-container {
    list-style-type: none;
    padding: 0;
}

.choice {
    background-color: white;
    border: 1px solid grey;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin: 10px 0;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.choice:hover {
    background-color: #d4edda;
}
             
.choice_selected{
    background-color: #d4edda;      
}